[submodule "Project 2 Demo\\Assets\\"]
	path = Project 2 Demo\\Assets\\
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
[submodule "Project 2 Demo/Assets/"]
	path = Project 2 Demo/Assets/
	url = https://github.com/Unity-Technologies/NavMeshComponents.git